@import '../../pages/reboot';
@import '../../node_modules/bootstrap/scss/navbar';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/transitions';
@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/utilities';
$myBlue :rgb(0, 96, 185);
.navbar {
  text-shadow: 2px 2px 2px black;
  overflow: hidden;
  .navbar-nav {
    .nav-link {
      color: rgba($color: #fefefe, $alpha: 0.6);
      &:hover {
        color: rgba($color: #fefefe, $alpha: 1.0);
      }
    }
  }
}

.bg-custom {
  background-color: $myBlue;
}