@import '../../pages/reboot';
@import '../../node_modules/bootstrap/scss/button-group';
@import '../../node_modules/bootstrap/scss/buttons';
.full-screen-hero {
  height: 100vh;
  display: flex;
  align-items: center;
  background: url("https://storage.nealwang.top/home-site-storage/image/Hero.JPEG") center center no-repeat;
  background-size: cover;
  .center-content {
    width: 100%;
    text-align: center;
    .title {
      color: white;
      text-shadow: 2px 2px 4px black;
    }
  }
}