@import "../../scss/reboot";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
// @import "../../node_modules/bootstrap/scss/";
.test {
  padding-top: 12rem;
  transition-property: "padding-top";
  transition-duration: 0.5s;
}

.no-test {
  padding-top: 0.5rem;
  transition-property: "padding-top";
  transition-duration: 0.5s;
}

.content-test {
  padding-top: 15rem;
  transition-property: "padding-top";
  transition-duration: 0.5s;
}

.content-no-test {
  padding-top: 3rem;
  transition-property: "padding-top";
  transition-duration: 0.5s;
}

.bg-img {
  background: url("https://storage.nealwang.top/home-site-storage/image/Hero.JPEG") center center no-repeat;
  background-size: cover;
}

.navbar{
  text-shadow: 2px 2px 4px black;
}

@import "../../node_modules/bootstrap/scss/utilities";
// .fixed-top {
//   position: fixed;
//   top: 0;
//   right: 0;
//   left: 0;
//   z-index: $zindex-fixed;
// }