@import '../../pages/reboot';
@import '../../node_modules/bootstrap/scss/nav';
@import '../../node_modules/bootstrap/scss/grid';
.stickyTop1 {
  margin-top: 1rem;
}

.flex-colum {
  flex-direction: column;
}

.level-1 {
  margin-left: 1rem;
}

.level-2 {
  margin-left: 2rem;
}

.level-3 {
  margin-left: 3rem;
}

.nav-link-sm {
  @extend .nav-link;
  padding: 0rem 0.5rem;
  font-size: 1rem;
}