@import '../../pages/reboot';
@import '../../node_modules/bootstrap/scss/grid';
.my-pic {
  width: 100%;
}

.pt {
  padding-top: 1rem;
}

.title {
  text-transform: uppercase;
  padding-left: 1rem;
}

.info-title {
  font-weight: 400;
  &:after {
    clear: both;
    border-bottom: 0.125rem solid #1779ba;
    display: block;
    margin-top: 0.5rem;
    width: 8rem;
    content: ' ';
  }
}